<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="base-path" content={ @base_path }>
    <title>Dashboard</title>
    <link rel="stylesheet" href={"#{@base_path}assets/css/reset.css"}>
    <link rel="stylesheet" href={"#{@base_path}assets/css/root.css"}>
    <link rel="stylesheet" href={"#{@base_path}assets/css/dashboard.css"}>
</head>
<body>
    <section id="dashboard">
        <div id="dashboard-container">
            <div>
                <h1>Dashboard</h1>
                <h2>Hello <%= @user.username %></h2>
            </div>
            <form action="" id="logout-form">
                <button type="submit">Logout</button>
            </form>
        </div>
        <p>This site is under construction</p>
    </section>
</body>
<script>
    const base_path = document.querySelector('meta[name="base-path"]').content;

    document.addEventListener('DOMContentLoaded', function () {
        const token = JSON.parse(window.localStorage.getItem('token'));

        if(token != null && token.timestamp + 3600000 > Date.now() && !window.location.search.includes(token.user_key)) {
            window.location.href = base_path + 'dashboard?user_key=' + token.user_key;
        }

        if(token != null && token.timestamp + 3600000 < Date.now()) {
            window.localStorage.removeItem('token');
            window.location.href = base_path + 'login';
        }

        if(token == null) {
            window.location.href = base_path + 'login';
        }

        document.getElementById('logout-form').addEventListener('submit', function (e) {
            e.preventDefault();
            window.localStorage.removeItem('token');
            window.location.href = base_path + 'login';
        });
    });

</script>
</html>