button {
    background-color: #333;
    color: white;
    font-size: var(--size-xs);
    padding: 10px 30px;
    border: none; 
    border-radius: var(--border-radius-xxl); 
    cursor: pointer; 
    display: inline-block;
    text-align: center;
}

#dashboard {
    width: 80%;
    margin: 0 auto;
    padding: var(--space-lg);
}

#dashboard h1 {
    font-size: var(--size-xxl);
    color: var(--color-secondary);
    font-weight: bold;
}

#dashboard > p {
    font-size: var(--size-m);
    color: var(--color-secondary);
    margin-bottom: var(--space-md);
    margin-top: var(--space-lg);
}

#dashboard-container {
    display: flex;
    justify-content: space-between;
}