button {
    background-color: #333;
    color: white;
    font-size: var(--size-xs);
    padding: 10px 30px;
    border: none; 
    border-radius: var(--border-radius-xxl); 
    cursor: pointer; 
    display: inline-block;
    text-align: center;
}

#login {
    width: 80%;
    margin: 0 auto;
    padding: var(--space-lg);
}

#login h1 {
    font-size: var(--size-xxl);
    color: var(--color-secondary);
    font-weight: bold;
}

#login > p {
    font-size: var(--size-m);
    color: var(--color-secondary);
    margin-bottom: var(--space-md);
}

#login-form {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
}

#login-form label {
    font-size: var(--size-m);
    color: var(--color-secondary);
    margin-bottom: var(--space-xs);
}

#login-form input {
    font-size: var(--size-sm);
    color: var(--color-secondary);
    padding: var(--space-xs);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--color-quaternary);
    margin-bottom: var(--space-md);
}

#login-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login-form-buttons p {
    margin: 0 var(--space-md);
}

#login-form-container {
    background-color: var(--color-tertiary);
    border-radius: 8px;
    border-color: var(--color-secondary);
    box-shadow: var(--border-shadow);
    padding-bottom: var(--space-sm);
}