#register {
    width: 80%;
    margin: 0 auto;
    padding: var(--space-lg);
}

#register h1 {
    font-size: var(--size-xxl);
    color: var(--color-secondary);
    font-weight: bold;
}

#register > p {
    font-size: var(--size-m);
    color: var(--color-secondary);
    margin-bottom: var(--space-md);
}

/* Form */

#register-form-container {
    background-color: var(--color-tertiary);
    border-radius: 8px;
    border-color: var(--color-secondary);
    box-shadow: var(--border-shadow);
}

#register-form-container > form {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
}

#register-form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--space-md);
}

#register-form-buttons > * {
    margin: 0 var(--space-xs);
}

button {
    background-color: #333;
    color: white;
    font-size: var(--size-xs);
    padding: 10px 30px;
    border: none; 
    border-radius: var(--border-radius-xxl); 
    cursor: pointer; 
    display: inline-block;
    text-align: center;
}