<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="base-path" content={ @base_path }>
    <title>API - Register</title>
    <link rel="stylesheet" href={"#{@base_path}assets/reset.css"}>
    <link rel="stylesheet" href={"#{@base_path}assets/root.css"}>
    <link rel="stylesheet" href={"#{@base_path}assets/app.css"}>
    <link rel="stylesheet" href={"#{@base_path}assets/login.css"}>
</head>
<body>
    <section id="login">
        <h1>Login</h1>
        <p>Login to add new API Keys</p>
        <div id="login-form-container">
            <form method="post" id="login-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                <label for="email">E-Mail</label>
                <input type="email" id="email">
                <label for="password">Password</label>
                <input type="password" id="password">
                <p id="error-msg" hidden></p>
                <div id="login-form-buttons">
                    <button type="submit">Login</button>
                    <p>or</p>
                    <a href={"#{@base_path}register"}>Go to Register</a>
                </div>
            </form>
        </div>
    </section>
    
</body>
<script>
    const uuid = crypto.randomUUID();
    const base_path = document.querySelector('meta[name="base-path"]').content;

    document.addEventListener('DOMContentLoaded', function () {
        if(window.localStorage.getItem('token') == null) return;
        const token = JSON.parse(window.localStorage.getItem('token'));

        if(token.timestamp + 3600000 < Date.now()) {
            window.localStorage.removeItem('token');
        } else {
            window.localStorage.setItem('token', JSON.stringify(token));
            window.location.href = base_path + 'dashboard?user_key=' + token.user_key;
        }
    });

    document.getElementById('login-form').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent default form submission
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
        const errorVisualizer = document.getElementById('error-msg');
        
        errorVisualizer.hidden = true;

        fetch(`${base_path}login`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'x-csrf-token': csrfToken,
            },
            body: JSON.stringify({ email, password }),
        })
        .then(response => response.json())
        .then(data => {
            if(data.success == true) {
                window.localStorage.setItem('token', JSON.stringify({sessionToken: uuid, timestamp: Date.now(), user_key: data.user.uuid}));
                window.location.href = base_path + 'dashboard?user_key=' + data.user.uuid;
            } else {
                errorVisualizer.innerText = data.message;
                errorVisualizer.hidden = false;
            }
        })
        .catch(error => {
            console.error(error);
        });
    });
    
</script>
</html>