<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>API - Register</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/root.css">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/register.css">
</head>
<body>
    <section id="register">
        <h1>Register</h1>
        <p>Register to get access to the API</p>
        <div id="register-form-container">
            <form action="/register" method="post" id="register-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                <label for="Firstname">Firstname</label>
                <input type="text" id="firstname">
                <label for="Surname">Surname</label>
                <input type="text" id="surname">
                <label for="Passowrd">Password</label>
                <input type="password" id="password">
                <label for="email">E-Mail</label>
                <input type="email" id="email">
                <p id="error-msg" hidden></p>
                <div id="register-form-buttons">
                    <button type="submit">Register</button>
                    <p>or</p>
                    <a href="/login">Go to Login</a>
                </div>
            </form>
        </div>
    </section>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const token = JSON.parse(window.localStorage.getItem('token'));
        if(token == null) {
            return;
        }
        if(token.timestamp + 3600000 < Date.now()) {
            window.localStorage.removeItem('token');
        } else {
            window.localStorage.setItem('token', JSON.stringify(token));
            window.location.href = '/dashboard?user_key=' + token.user_key;
        }
    });

    document.getElementById('register-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const firstname = document.getElementById('firstname').value;
        const surname = document.getElementById('surname').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;
        // const plan = document.getElementById('plan').value;

        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
        const errorVisualizer = document.getElementById('error-msg');
        
        errorVisualizer.hidden = true;

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'x-csrf-token': csrfToken,
            },
            body: JSON.stringify({ firstname, surname, password, email }),
        })
        .then(response => response.json())
        .then(data => {
            if(data.success === false) {
                errorVisualizer.hidden = false;
                errorVisualizer.innerText = data.message;
                return;
            }
            window.location.href = '/login';
        })
        .catch(error => {
            console.error(error);
        });
    });
    
</script>
</html>