<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>API - Register</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
        }
        label {
            margin-top: 10px;
        }
        input {
            margin-top: 5px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            margin-top: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        p {
            margin-top: 10px;
            color: red;
        }
    </style>
</head>
<body>
    <form action="/register" method="post" id="register-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <label for="Firstname">Firstname</label>
        <input type="text" id="firstname">
        <label for="Surname">Surname</label>
        <input type="text" id="surname">
        <label for="Passowrd">Password</label>
        <input type="password" id="password">
        <label for="email">E-Mail</label>
        <input type="email" id="email">
        <p id="error-msg" hidden></p>
        <button type="submit">Register</button>
    </form>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const token = JSON.parse(window.localStorage.getItem('token'));
        if(token == null) {
            return;
        }
        if(token.timestamp + 3600000 < Date.now()) {
            window.localStorage.removeItem('token');
        } else {
            window.localStorage.setItem('token', JSON.stringify(token));
            window.location.href = '/dashboard?user_key=' + token.user_key;
        }
    });

    document.getElementById('register-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const firstname = document.getElementById('firstname').value;
        const surname = document.getElementById('surname').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;
        // const plan = document.getElementById('plan').value;

        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
        const errorVisualizer = document.getElementById('error-msg');
        
        errorVisualizer.hidden = true;

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'x-csrf-token': csrfToken,
            },
            body: JSON.stringify({ firstname, surname, password, email }),
        })
        .then(response => response.json())
        .then(data => {
            if(data.success === false) {
                errorVisualizer.hidden = false;
                errorVisualizer.innerText = data.message;
                return;
            }
            window.location.href = '/login';
        })
        .catch(error => {
            console.error(error);
        });
    });
    
</script>
</html>